@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Mono&family=Rubik&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    color-scheme: dark;
}

body {
    font-family: 'Lato', sans-serif;
}

main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.background {
    background-image: url("../img/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 60vw;
}

.main {
    width: 100%;
    background-color: #060510;
    display: flex;
    align-items: center;
    justify-content: center;
}
