@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Mono&family=Rubik&display=swap');

:root {
    --bg-color: #060510;
    --main-color: #5266a3;
    --accent-color: #11b5e4;
}

* {
    padding: 0;
    margin: 0;
    user-select: none;
}

html {
    color-scheme: dark;
}

body {
    font-family: 'Lato', sans-serif;
}

main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.background {
    background-image: url("../img/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 60vw;
}

.main {
    width: 100%;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    width: 60%;
    padding-left: 75px;
}

.title h2 {
    margin-bottom: 40px;
    color: var(--main-color);
    font-size: 2em;
    text-align: left;
}

form {
    width: 60%;
}

.input-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.input-box {
    width: 40%;
    height: 35px;
    position: relative;
    border-bottom: 2px solid var(--main-color);
    margin: 25px;
    transition: .5s;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: .5s;
    font-size: 1em;
    font-weight: 400;
    color: var(--main-color);
}

.input-box input:focus~label, 
.input-box input:valid~label {
    color: var(--accent-color);
    top: -6px;
}

.input-box:has(> input:focus) {
    border-bottom: 2px solid var(--accent-color);
}

.input-box input {
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    padding: 0 5px 0 5px;
    margin-bottom: 5px;
    font-size: 1.05em;
    font-weight: 500;
}

.error {
    padding-left: 5px;
}

.submit {
    margin-top: 30px;
    margin-left: 40px;
    color: var(--main-color);
}

.submit p {
    margin-left: 10px;
    margin-top: 20px;
}

.submit a {
    color: var(--accent-color);
    text-decoration: none;
}

.submit a:hover {
    text-decoration: underline;
}

.terms-conditions label {
    margin-left: 10px;
}

form button {
    margin-top: 20px;
    width: 40%;
    height: 40px;
    font-size: 1em;
    background: transparent;
    color: var(--main-color);
    font-weight: 500;
    border: 3px solid var(--main-color);
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
}

form button:hover {
    background-color: var(--main-color);
    color: var(--bg-color);
}
